@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

/*Tipografía Titulos H */
h1 {
  font-size: 30px;
  font-weight: bold; }

h2 {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 25px; }
  h2 a {
    font-family: "Roboto", sans-serif;
    color: #fff;
    font-size: 25px; }

h3 a {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 25px; }

h5 a {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 25px; }
  h5 a:hover {
    text-decoration: underline;
    color: #fff; }

h2 a:hover,
h3 a:hover {
  text-decoration: underline;
  color: #fff; }

.colorTitulos {
  color: black;
  font-family: "Roboto";
  font-weight: bolder; }

/*END*/
html {
  background-color: #dee7ec; }

.container-fluid img {
  height: 60px;
  width: 60px;
  margin-top: 5px;
  padding: 5px;
  border-radius: 20%; }

nav ul:hover,
ul a:hover {
  text-decoration: underline; }

.btnAbajo {
  font-family: "Roboto";
  margin-top: 39px; }

.carousel-control-next:hover,
.carousel-control-prev:hover {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: 0.5;
  transition: opacity 0.15s ease;
  background-color: none; }

.fondoCrear {
  background-image: linear-gradient(to bottom, #e4ecf5, #abbbc2); }
  .fondoCrear .textoTitulo {
    font-weight: bolder;
    font-size: 50px;
    text-decoration: none;
    color: black; }
    .fondoCrear .textoTitulo:hover {
      text-decoration: none; }
  .fondoCrear .tituloIndex {
    font-size: 50px;
    font-weight: bolder;
    font-family: "Roboto";
    margin-top: 8px; }

.probando button {
  margin-top: 25px; }

input[type="submit"]:hover, input[type="reset"]:hover {
  transition: 0.5s;
  transition-timing-function: ease-in-out;
  background-color: #a6b7d6;
  border: solid 4px black; }

button:hover {
  transition: 0.5s;
  transition-timing-function: ease-in-out;
  background-color: #a6b7d6;
  border: solid 4px black; }

.contenedorDos {
  position: relative;
  display: inline-block;
  text-align: center; }

.contenedorDos img {
  width: 100%; }

.centrado {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  font-weight: 80px; }

.centradoDos {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  font-weight: 600; }

header li {
  list-style-type: none;
  display: inline;
  cursor: pointer;
  float: right;
  padding: 15px;
  font-size: 20px;
  color: black;
  margin: 0;
  position: relative;
  bottom: 45px;
  text-decoration: none; }

.reserveCenter {
  display: flex;
  justify-content: center; }

.reserveCenterDos {
  display: flex;
  justify-content: center;
  margin-bottom: 60px; }

.reserve {
  margin-top: 30px;
  box-shadow: 0.125rem 0.125rem 0.25rem 0 #7e7e7e;
  border-radius: 25px;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #c3d8df;
  width: 90%; }
  .reserve img {
    width: 250px;
    height: 250px;
    border-radius: 15%;
    transition: 1s ease; }
  .reserve .infoReservas {
    font-size: 25px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .reserve .infoReservas .infoReservasDos {
      padding: 5px; }
  .reserve .pricePos p {
    font-weight: bold;
    font-size: 20px; }
  .reserve .destinosTuristicos:hover {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(1.15);
    transition: 1s ease; }

.itiIdeal {
  margin-left: 0;
  margin-bottom: 140px;
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 28px;
  font-weight: 600; }

a {
  font-family: "Roboto", sans-serif;
  color: black;
  text-decoration: none;
  margin: 0; }

footer strong {
  font-size: 20px;
  font-family: sans-serif; }

.edit {
  width: 100px;
  height: 40px; }

.bordeado {
  border: solid black;
  width: 80%; }

#logo {
  height: 90px;
  width: 90px;
  margin-top: 5px;
  padding: 5px;
  border-radius: 20%;
  margin-bottom: 10px; }

.navbar-nav {
  margin-top: 90px; }

.socialNetworks {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url("https://images.unsplash.com/photo-1542010091277-58c2669dc40c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  height: 75vh; }
  .socialNetworks .init {
    display: flex;
    justify-content: center; }
    .socialNetworks .init .btnCentrado {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 35px;
      margin-bottom: 20px;
      border: 5px solid black;
      border-radius: 20px;
      width: 400px; }
      .socialNetworks .init .btnCentrado .btnSesion {
        margin-top: 60px; }
      .socialNetworks .init .btnCentrado .btnSesionDos {
        margin-top: 60px;
        padding-bottom: 20px; }
  .socialNetworks .sesionCentro {
    display: flex;
    justify-content: center;
    color: white; }

.buscarPais {
  display: flex;
  justify-content: center;
  padding: 50px;
  font-family: "Roboto";
  font-weight: bolder; }

.filtros {
  margin-top: 100px;
  margin-bottom: 100px; }
  .filtros .topito {
    display: flex;
    box-shadow: 0.5rem 0.5rem 0.25rem 0 #7e7e7e;
    border-radius: 30px;
    padding: 35px;
    font-size: 18px;
    width: 100%;
    background-color: #c3d8df; }

.itinerarys {
  text-align: center;
  margin-bottom: 80px; }
  .itinerarys .titleMargin {
    margin-bottom: 40px; }
  .itinerarys .uno,
  .itinerarys .dos,
  .itinerarys .tres {
    width: 270px;
    height: 270px;
    border-radius: 10%;
    transition: 1s ease; }
  .itinerarys .uno:hover,
  .itinerarys .dos:hover,
  .itinerarys .tres:hover {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(1.15);
    transition: 1s ease; }
  .itinerarys .lola {
    font-family: "Roboto";
    font-weight: bold;
    font-size: large;
    margin-top: 2px;
    text-align: justify;
    line-height: 2.5;
    padding: 70px; }

.probando {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  vertical-align: text-bottom;
  text-align: center;
  padding: 10px;
  margin-top: 55px;
  margin-bottom: 60px;
  justify-content: space-evenly; }
  .probando .topo {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    align-items: center;
    margin-bottom: 20px; }
    .probando .topo .btnAbajoDos {
      font-family: "Roboto"; }
    .probando .topo .nycSize,
    .probando .topo .romaSize,
    .probando .topo .londresSize,
    .probando .topo .parisSize {
      position: relative;
      width: 250px;
      height: 375px;
      text-align: center;
      display: block;
      margin: 40px 40px;
      transition: 1s ease;
      border-radius: 25px; }
    .probando .topo #torre:hover,
    .probando .topo #london:hover,
    .probando .topo #romex:hover,
    .probando .topo #newyork:hover {
      -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
      transform: scale(1.15);
      transition: 1s ease; }
    .probando .topo .pcentrado {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: justify;
      width: 300px;
      font-size: large;
      font-weight: bold;
      line-height: 2.5;
      font-family: "Roboto", cursive; }

.reservations {
  margin-top: 20px;
  padding-left: 15px;
  padding-right: 15px; }
  .reservations .misReservas {
    font-size: 32px;
    margin-top: 60px; }
  .reservations .buscarReserva {
    float: right;
    font-size: large;
    font-family: "Roboto", sans-serif; }

.destinoUno,
.destinoDos {
  margin-top: 120px;
  padding-left: 15px; }
  .destinoUno .destinos,
  .destinoDos .destinos {
    font-size: 28px;
    font-weight: bolder;
    color: black; }
  .destinoUno .dates,
  .destinoDos .dates {
    color: black;
    font-size: 20px;
    margin-top: 50px; }

#perfil {
  margin-top: 60px;
  margin-bottom: 30px;
  padding-left: 15px;
  font-size: 32px; }

.formVideo {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-image: url("https://images.unsplash.com/photo-1480504612934-8170966f69e0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 60px; }
  .formVideo .videos {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: space-around; }
    .formVideo .videos .videosTest {
      display: flex; }
      .formVideo .videos .videosTest iframe {
        border-radius: 10%;
        width: 560px;
        height: 315px; }
  .formVideo .textoForm {
    background-color: #d3cbcd;
    width: 500px;
    display: flex;
    justify-content: center;
    border-radius: 10%;
    margin-top: 25px;
    margin-bottom: 25px;
    align-items: center; }
    .formVideo .textoForm .formContacto {
      display: flex;
      flex-direction: column;
      width: 300px;
      padding-left: 40px; }
      .formVideo .textoForm .formContacto .chkboxOrden {
        width: 280px;
        display: flex;
        justify-content: space-evenly;
        margin-top: 35px;
        font-family: "Roboto";
        font-weight: bolder; }
        .formVideo .textoForm .formContacto .chkboxOrden .separado {
          width: 400px;
          height: 10vh;
          align-items: flex-start;
          margin-bottom: 45px; }
      .formVideo .textoForm .formContacto #budget,
      .formVideo .textoForm .formContacto .ages,
      .formVideo .textoForm .formContacto .comentando,
      .formVideo .textoForm .formContacto .condiciones {
        margin-top: 30px; }
        .formVideo .textoForm .formContacto #budget .terminos,
        .formVideo .textoForm .formContacto .ages .terminos,
        .formVideo .textoForm .formContacto .comentando .terminos,
        .formVideo .textoForm .formContacto .condiciones .terminos {
          display: flex;
          width: 300px;
          justify-content: flex-start; }
        .formVideo .textoForm .formContacto #budget .chkboxOrdenDos,
        .formVideo .textoForm .formContacto .ages .chkboxOrdenDos,
        .formVideo .textoForm .formContacto .comentando .chkboxOrdenDos,
        .formVideo .textoForm .formContacto .condiciones .chkboxOrdenDos {
          width: 280px;
          display: flex;
          justify-content: space-evenly;
          font-family: "Roboto";
          font-weight: bolder; }
      .formVideo .textoForm .formContacto .fuenteForm {
        color: black;
        font-family: "Roboto";
        font-weight: bold;
        font-size: 25px; }
      .formVideo .textoForm .formContacto .monedaPago {
        padding-top: 15px;
        padding-bottom: 15px;
        margin-top: 10px; }
    .formVideo .textoForm .cantidadPersonas {
      display: flex;
      flex-direction: column;
      padding-top: 15px;
      padding-bottom: 15px;
      color: black; }
    .formVideo .textoForm .inputNombre {
      padding-top: 15px;
      padding-bottom: 15px;
      font-family: "Roboto";
      font-weight: bolder; }
    .formVideo .textoForm .itinerarioMedida {
      margin-top: 50px; }

/*media queries index*/
.fondoCrear .tituloIndex:before {
  content: "Wonderlast Travel"; }

.fondoCrear .textoTitulo:before {
  content: "Wonderlast Travel"; }

@media (max-width: 430px) {
  .fondoCrear .tituloIndex:before {
    content: "WT"; }
  .fondoCrear .textoTitulo:before {
    content: "WT"; } }

@media (max-width: 430px) {
  .fondoCrear .tituloIndex:before {
    content: "WT"; }
  .fondoCrear .textoTitulo:before {
    content: "WT"; } }

@media (min-width: 320px) and (max-width: 599px) {
  .fondoCrear .tituloIndex {
    font-size: 25px; }
  .fondoCrear .textoTitulo {
    font-size: 25px; } }

@media (min-width: 600px) and (max-width: 1200px) {
  .fondoCrear .tituloIndex {
    font-size: 35px; }
  .fondoCrear .textoTitulo {
    font-size: 35px; } }

@media (min-width: 600px) and (max-width: 1200px) {
  .itiIdeal {
    font-size: 24px;
    margin-bottom: 20px; } }

@media (min-width: 320px) and (max-width: 599px) {
  .itiIdeal {
    font-size: 15px;
    margin-bottom: 0; }
    .itiIdeal .itiIdeal button {
      font-size: 10px; }
  .carousel-caption p {
    display: none; } }

/*End*/
/*media queries Seccion Contacto*/
@media (min-width: 100px) and (max-width: 1180px) {
  .formVideo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px; }
  .videosTest iframe {
    max-width: 360px;
    max-height: 203px;
    margin-top: 60px;
    margin-bottom: 60px; } }

@media (min-width: 280px) and (max-width: 798px) {
  .formVideo .textoForm {
    margin-top: 20px;
    width: 350px; } }

@media (min-width: 800px) and (max-width: 1200px) {
  .inputNombre,
  .chkboxOrden {
    font-size: 15px; } }

@media (min-width: 320px) and (max-width: 798px) {
  .inputNombre,
  .chkboxOrden {
    font-size: 13px; } }

/*End*/
/*media queries Seccion Reservas*/
@media (min-width: 800px) and (max-width: 1200px) {
  .infoReservasDos {
    font-size: 20px; }
  .reserve .pricePos p {
    font-size: 18px; } }

@media (min-width: 320px) and (max-width: 798px) {
  .infoReservasDos {
    font-size: 17px; }
  .reserve .pricePos p {
    font-size: 15px; } }

@media (min-width: 220px) and (max-width: 480px) {
  .reserve {
    display: flex;
    flex-direction: column;
    height: 60vh; } }

@media (min-width: 480px) and (max-width: 800px) {
  .reserve img {
    width: 175px;
    height: 175px; } }

@media (min-width: 200px) and (max-width: 479px) {
  .reserve img {
    width: 165px;
    height: 165px; } }

/*End*/
/* media queries Seccion Crear */
/* Mobile */
@media (min-width: 320px) and (max-width: 599px) {
  .centradoDos h1 {
    font-size: 20px; }
  .filtros .topito {
    box-shadow: 0.1rem 0.2rem 0.1rem 0 #7e7e7e; } }

/*Tablet*/
@media (min-width: 600px) and (max-width: 768px) {
  .centradoDos h1 {
    font-size: 25px; }
  .filtros .topito {
    box-shadow: 0.2rem 0.25rem 0.2rem 0 #7e7e7e; } }

/*End*/
/* Media Queries Perfil */
@media (min-width: 320px) and (max-width: 798px) {
  .feedbacks {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .feedbacks .bck {
      margin-bottom: 20px; } }

@media (min-width: 120px) and (max-width: 420px) {
  .perfilCentrado .perfilDesign #fotoPerfil {
    max-height: 200px;
    max-width: 200px; } }

/*End*/
#fotoPerfil:hover {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(1.1);
  transition: 1s ease; }

.perfilCentrado {
  display: flex;
  justify-content: center; }
  .perfilCentrado .perfilDesign {
    padding: 35px;
    background-color: #c3d8df;
    width: 80%;
    box-shadow: 0.125rem 0.125rem 0.25rem 0 #7e7e7e;
    border-radius: 25px; }
    .perfilCentrado .perfilDesign #fotoPerfil {
      width: 250px;
      height: 250px;
      border-radius: 200px;
      margin-right: 40px;
      transition: 1s ease; }
    .perfilCentrado .perfilDesign .btnPos {
      margin-top: 90px; }
    .perfilCentrado .perfilDesign #datos {
      display: flex;
      flex-direction: column;
      font-family: "Roboto";
      margin-top: 40px; }
      .perfilCentrado .perfilDesign #datos .fuenteName {
        color: black;
        font-weight: bolder; }
      .perfilCentrado .perfilDesign #datos .mailing {
        display: flex;
        flex-direction: column;
        font-weight: bolder; }
        .perfilCentrado .perfilDesign #datos .mailing .fuenteMail {
          color: black;
          font-weight: bold; }
      .perfilCentrado .perfilDesign #datos .foca {
        display: flex;
        flex-direction: column;
        font-weight: bolder;
        color: black; }

.bordeMetodos {
  margin-top: 80px; }
  .bordeMetodos .fuenteName {
    color: black;
    font-weight: bolder;
    padding-left: 15px; }
  .bordeMetodos .paymentCentrado {
    display: flex;
    justify-content: center; }
  .bordeMetodos .paymentStyle {
    text-align: center;
    padding: 55px;
    background-color: #c3d8df;
    width: 80%;
    box-shadow: 0.125rem 0.125rem 0.25rem 0 #7e7e7e;
    border-radius: 25px;
    margin-top: 20px; }

.feedbacks {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  padding-bottom: 20px;
  padding-top: 20px; }
  .feedbacks .bck {
    width: 250px;
    background-color: #c3d8df;
    box-shadow: 0.125rem 0.125rem 0.25rem 0 #7e7e7e;
    border-radius: 25px;
    padding: 20px; }
  .feedbacks #valoraciones,
  .feedbacks #rankingPaises,
  .feedbacks #comentarios {
    font-weight: bolder; }
  .feedbacks .fuenteName {
    color: black;
    font-weight: bolder;
    margin-left: 10px; }

.fuenteNameDos {
  color: black;
  font-weight: bolder;
  padding-left: 15px;
  margin-top: 80px; }

.navTest {
  width: 720px;
  margin-left: 330px; }
  .navTest #navbarNav {
    background-color: #c8cac3;
    border-radius: 25px;
    height: 65px;
    box-shadow: 0.125rem 0.125rem 0.25rem 0 #7e7e7e; }

.navbar {
  padding-top: 30px;
  padding-bottom: 50px; }

.tripsDone {
  margin-top: 80px; }
  .tripsDone .tripsDoneCentrado {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 60px; }
    .tripsDone .tripsDoneCentrado .paisFecha {
      text-align: center;
      padding: 25px;
      margin-bottom: 60px;
      background-color: #c3d8df;
      box-shadow: 0.125rem 0.125rem 0.25rem 0 #7e7e7e;
      border-radius: 25px;
      width: 80%; }
      .tripsDone .tripsDoneCentrado .paisFecha #rome {
        padding: 12px;
        font-weight: bolder; }
  .tripsDone .fuenteName {
    color: black;
    font-weight: bolder;
    padding-left: 15px; }

/* Nav media queries */
@media (min-width: 100px) and (max-width: 970px) {
  .navTest #navbarNav {
    background-color: transparent;
    margin-bottom: 280px;
    box-shadow: none; }
  .navTest {
    margin-left: 0; } }

@media (min-width: 600px) and (max-width: 1400px) {
  .navTest {
    margin-left: 0; } }

/*end*/
/* Media queries Seccion Iniciar */
@media (min-width: 480px) and (max-width: 780px) {
  #iniciarCentro {
    font-size: 25px; }
  .socialNetworks .init .btnCentrado {
    width: 350px; } }

@media (min-width: 200px) and (max-width: 479px) {
  #iniciarCentro {
    font-size: 23px; }
  .socialNetworks .init .btnCentrado {
    width: 310px; } }

/*End*/
